* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #eceef1;
  color: #232323;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}
